body
    margin: 0
    padding: 0
    font-family: "Futura", "Roboto", sans-serif
    overflow-x: hidden

.container
    margin: 0 auto
    max-width: 960px

 
@import "blocks/header"
@import "blocks/promo"
@import "blocks/description"
@import "blocks/stocks"
@import "blocks/services"
@import "blocks/works"
@import "blocks/employees"
@import "blocks/advantages"
@import "blocks/reviews"
@import "blocks/cashback"
@import "blocks/footer"
@import "blocks/popup"
@import "blocks/reg-form"
@import "blocks/scrollUp"
@import "blocks/animation"
@import "base/media"


.test
    min-height: 900px
    padding: 100px 50px

.Tblock_wrapper
    width: 100%
    height: 300px
    overflow: hidden
    display: flex

.blockT 
    width: 900px
    height: 300px
    &:nth-child(1)
        background-color: red
    &:nth-child(2)
        background-color: black
    &:nth-child(3)
        background-color: green
    &:nth-child(4)
        background-color: purple
    &:nth-child(5)
        background-color: yellow

.aaab
    margin-top: 100px
    margin-bottom: 100px
    width: 100px
        


