body
    margin: 0
    padding: 0
    font-family: "Futura", "Roboto", sans-serif
    overflow-x: hidden

.container
    margin: 0 auto
    max-width: 960px

 
@import "blocks/header"
@import "blocks/promo"
@import "blocks/description"
@import "blocks/stocks"
@import "blocks/services"
@import "blocks/works"
@import "blocks/employees"
@import "blocks/advantages"
@import "blocks/reviews"
@import "blocks/cashback"
@import "blocks/footer"
@import "blocks/popup"
@import "blocks/reg-form"
@import "blocks/scrollUp"
@import "blocks/animation"
@import "base/media"
  
.swipe-left
    transform: translate(-100%, 0)
    transform: translate3d(-100%, 0, 0)
.swipe-center
    transform: translate(0, 0)
    transform: translate3d(0, 0, 0)
.swipe-right
    transform: translate(100%, 0)
    transform: translate3d(100%, 0, 0)

.swipe-animating
    transition: transform .2s
        


