
.header
    min-height: 60px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 13px 35px
    &__phone
        color: white
        font-size: 20px
        line-height: 50px
        text-decoration: none
        
    &__contacts
        width: 25%
        display: flex
        justify-content: space-between

.navigator-menu
    // width: 50%
    &__list
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        justify-content: space-between
    &__item
        padding-left: 30px
        font-size: 21px
        color: white
        text-decoration: none

.main-label
    width: 25%
    font-size: 22px
    margin: 0
    color: white

.button
    position: relative
    display: block
    border: 1px solid white
    background-color: rgba(1, 1, 1, 0)
    color: white
    width: 170px
    height: 40px
    cursor: pointer
    transition: background-color .7s
    overflow: hidden
    &:hover
        background-color: rgba(255, 255, 255, .6)
        color: black
    &::after
        content: ''
        position: absolute
        height: 350%
        width: 200%
        top: 0
        left: -100%
        background: rgba(255, 255, 255, 0.8)
        border-radius: 100%
        -webkit-transform: scale(0)
        -ms-transform: scale(0)
        transform: scale(0)
        z-index: 20
        -webkit-animation-name: ripple
        animation-name: ripple
        -webkit-animation-duration: 5s
        animation-duration: 5s
        -webkit-animation-timing-function: linear
        animation-timing-function: linear
        -webkit-animation-iteration-count: infinite
        animation-iteration-count: infinite
        animation-delay: 3s     

.new_label
    display: none
.new_phone
    display: none
    
