.reviews 
    padding-top: 120px
    min-height: 700px
    position: relative
    &__title
        font-size: 42px
        font-weight: 300
        text-align: center
    &__dots
        width: 200px
        height: 20px
        display: flex
        justify-content: center
        margin: 0 auto
        margin-top: 30px

    &__dot
        width: 6px
        height: 6px
        border: 2px solid black
        border-radius: 100%
        // background-color: red
        margin-left: 8px
        margin-right: 8px
        cursor: pointer
    &__rating 
        font-size: 24px
        font-weight: 300
        text-align: center
        margin-top: 30px

    &__wrapper
        margin-top: 80px
        
    &__descr
        font-size: 24px
        font-weight: 300 
        text-align: center

    &__avatar 
        width: 150px
        height: 150px
        border-radius: 100%
        margin: 0 auto
        margin-top: 30px
        &_1
           background: url("../img/rew5.jpg") center center/cover no-repeat 
        &_2
            background: url("../img/rew1.jpg") center center/cover no-repeat
        &_3
            background: url("../img/rew2.jpg") center center/cover no-repeat
        &_4
            background: url("../img/rew3.jpg") center center/cover no-repeat
        &_5
            background: url("../img/rew4.jpg") center center/cover no-repeat

    &__name
        text-align: center 
        margin-top: 15px
        font-size: 20px

    &__social
        text-align: center
        margin-top: 15px
    
    
.arrows 
    
.next-arrow
    position: absolute
    top: 60%
    right: 150px
    transform: translateY(-50%)
    cursor: pointer
.prev-arrow
    position: absolute
    top: 60%
    left: 150px
    transform: translateY(-50%)
    cursor: pointer

.underline
    border-bottom: 1px solid
    text-decoration: none
    color: black
.bold
    font-weight: 500

